.h1_header{
    margin: 10px 0 0;
    color: #7f8ea3;
    letter-spacing: 0.2ch;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.h1_header:hover{
    text-decoration: underline;
    opacity: 0.6;
}
.title_header{
    font-size: 2.5rem;
    margin: 1.2rem 0;
    letter-spacing: 0.2ch;
    opacity: 0.9;
}
.p_header{
    max-width: 60ch;
    color: #7f8ea3;
    margin-bottom: 2rem;
    letter-spacing: 0.13ch;
}
@media screen and (max-width: 700px) {
    h1.title_header{
        font-size: 1.65rem;
        letter-spacing: 0.1ch;
    }
    .p_header{
        font-size: 0.85rem;
    }
    
}
.unordered_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8rem;
    gap: 2rem;
    font-size: 0.875rem; 
    font-weight: 500;
    color: #6b7280;
}

@media (min-width: 640px) {
    .custom-class {
        margin-bottom: 0; 
    }
}

body.dark .custom-class {
    color: #9ca3af; 
}

@media (max-width: 1000px) {
    .title_header{
        font-size: 2.10rem;
       letter-spacing: 0.1ch;

    }
}
@media (max-width:640px) {
    .section_signin{
        padding: 50px;
    }
    
}

@media (max-width:420px) {
    .h1_header{
        font-size: 17px;
    }
    
}
