:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --clr-dark: #030712;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  padding: 0;
  overflow-x:hidden ;
  background-color: #0a101f;
}
*{
  margin: 0;
  padding: 0;
  line-height: 1.75rem;
}
@media (max-width: 640px){
  .banner{
    margin: 0 15px;
    padding: 50px;
    /* background-size: contain; */
  }
  .content_secton,.section_signin{
    margin:0 15px;
    padding: 50px;

  }

  
  
 
}
